@import "tailwindcss";

@theme{
  --color-mainRed: #DD1C1A;
  --color-textDark: #181714;
  --color-textLight: #FFF8F7;
  --color-bgLight: #FFF5DF;
}


html, body {
  height: 100%;
}

:root{
  --light-bg: #FFF5DF
}