@import "tailwindcss";

@theme{
  --color-mainRed: #DD1C1A;
  --color-textDark: #181714;
  --color-textSecondary: "#2A2B2A";
  --color-textLight: #FFF8F7;
  --color-textMuted: #C6C0BF; 
  --color-bgLight: #FFF5DF;
  --color-bg-dark: #0F0F0C;


  --font-caveat: var(--font-caveat);
  --font-notable: var(--font-notable);
  --font-montserrat: var(--font-montserrat);
  --font-gothic: var(--font-gothic);

}


/* No globals.css */
.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

html, body {
  height: 100%;
}

:root{
  --light-bg: #FFF5DF
}